# from https://docs.github.com/en/actions/how-tos/reuse-automations/reuse-workflows#example-caller-workflow
name: Call a reusable workflow

#on:
  #pull_request:
    #branches:
      #- main
on: [push]
#on:
  #push:
    #branches: [ "main", "master" ]
#permissions:
  #contents: write

jobs:
  call-build:
    permissions:
      contents: write
      #pull-requests: write
      #id-token: write
    uses: laur89/workflows/.github/workflows/py-build-publish-app.yml@master
    #secrets:
      #token: ${{ secrets.GITHUB_TOKEN }}
    secrets: inherit


  # note publish to pypi cannot be ran from reusable workflows, follow
  # https://github.com/pypa/gh-action-pypi-publish/issues/166 for more details
